.nav-item {
    width:6rem;
    display:inline;
    padding: 6px 12px;
}

.nav-separator {
    display:inline;

}

.footer {
    width: 100%;
    min-height: 2rem;
}



/* stash this for later, transparent 'background' div OVER opaque text
.fakebgimg {
    height: 100%;
    left: -50%;
    top: 0;
    z-index: 1;
    opacity: .2;
    position: absolute;
    transition: 3s;
}

@media only screen and (min-width: 500px) {
    .fakebgimg {
        height: unset;
        width: 100%;
        top: -20%;
        left: 0;
    }

    .fakebgimg:hover {
        top: -40%;
        transition: 2s;
    }
}


*/