body {
    margin:0px;
}

.nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#hamburger {
    z-index: 5;
    fill: #1d1d29;
    font-size: 3rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.mobilenav {
    z-index: 4;
    font-size: 3rem;
    position: fixed;
    top: 0.6rem;
    right: 0.6rem;
    width: 3.6rem;
    overflow: hidden;
    height: 0;
    padding: 4rem 0 0 0;
    transition: .1s ease-in;
    display: none;
}

.mobilenav:hover {
    width: unset;
    height: unset;
    padding: 0 0.5rem 0 0.5rem;
    margin-top: 5rem;
    transition: .1s ease-out;
    overflow: visible;
    border: 6px solid #6674be; border-top: none;
    background: #fff;
}

.mobilenav:nth-child(1):hover { color: #fff; }

.mobilenav-item {
    font-size: 2rem;
    padding: 0.5rem;
}

footer p {
    font-size: 1.2rem;
    margin-bottom: 0;
}

p {
    font-size: 2rem;
}

a {
    color: #6674be;
    font-weight: 600;
    text-decoration: none;
}

a:hover, .card a:hover {
    color: #1eaedb;
}

header {
    padding: 3rem 1rem 0rem;
    position: fixed;
    width: 100%;
    top: 0;
    max-height: 12rem;
    background: #fff;
    z-index: 2;
}

hr {
    margin-bottom: 0;
}

.titletext {
    font-size: 6rem;
}

.punchline {
    color: #ffffff;
    height: 20rem;
    width: 100%;
    position: relative;
    overflow:hidden;
    margin-top: 12rem;
    background: linear-gradient(to top right,#1d1d29, 80%, #6674be);
    background-color: #1d1d29;
    z-index: 0;
}

.backdrop {
    position: absolute;
    top: -100%;
    right: 100%;
    height: 100%;
    width: 100%;
    animation: intro 5s ease-in-out 0s 1 forwards;
}

@keyframes intro {
    0% { right: 100%; top: -100%; }
    32% { right: 100%; top: -100%; transform: scaleY(1); filter: blur(0px); }
    33% { transform: scaleY(2); filter: blur(4px); }
    34% { right: 100%; top: 0; transform: scaleY(1); filter: blur(0px); }
    65% { right: 100%; top: 0; transform: scaleX(1); filter: blur(0px); }
    66% { transform: scaleX(2); filter: blur(4px); }
    67% { right: 0; top: 0; transform: scaleX(1); filter: blur(0px); }
    98% { right: 0; top: 0; transform: scaleY(1); filter: blur(0px); }
    99% { transform: scaleY(2); filter: blur(4px); }
    100% { right: 0; top: -100%; transform: scaleY(1); filter: blur(0px); }
}


@keyframes intro-mobile {
    0% { right: 100%; top: -100%; }
    30% { right: 100%; top: -100%; }
    33% { right: 100%; top: 0; }
    63% { right: 100%; top: 0; }
    66% { right: 0; top: 0; }
    97% { right: 0; top: 0; }
    100% { right: 0; top: -100%; }
}

.headshot {
    border-radius: 12px;
    margin-right: 1rem;
}

.card {
    font-family: 'Kanit', sans-serif;
    font-weight: 700;
    width: 100%;
    height: 100%;
    position: absolute;
    font-size: 12rem;
    text-align: center;
}

@media screen and (max-width: 400px) {
    header { padding: 1rem 0 1rem; border-bottom: 6px solid #6674be; }
    .headshot { max-width: 40%; }
    .mobilenav { display: block; }
    .mobilenav:hover { border: 4px solid #6674be; border-top: none; border-radius: 4px; }
    .nav { display: none; }
    .titletext { font-size: 3rem; margin: 0 0 0 2rem; }
    .card { font-size: 4rem; padding-top: 1rem; }
    .punchline { margin-top: 6rem; height: 10rem; }
    .backdrop { animation: intro-mobile 5s ease-in-out 0s 1 forwards; }
}

.card a {
    color: #fff;
}

.card1 {
    left: 100%;
    top: 100%;
}

.card2 {
    left: 100%;
    top: 0;
}

.card3 {
    left: 0;
    top: 0;
}

.card4 {
    padding-top: 0.4rem;
    font-size: 6rem;
    left: 0;
    top: 100%;
}

.card4 a {
    margin: 0 2rem 0 2rem;
}

@media screen and (min-width: 550px) {
    .card4 { font-size: 12rem; }
}

.editor {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.4rem;
    background: #444;
    color: #33bb44;
    border-radius: 4px;
    margin-bottom: 6rem;
    text-indent: -4rem;
    padding-left: 4rem;
}

.blink {
    animation: blink 1s steps(2) 0s infinite;
}

.linenum {
    color: #aaa;
    font-size: 1.2rem;
    padding: 0 2rem 0 0.6rem;
}

@keyframes blink {
    from { background: #444; color: #33bb44; }
    to { background: #66ff66; color: #000; }
}

.project {
    font-weight: 600;
    color: #6674be;
}

.icons {
    float: right;
    margin-top: -4rem;
}

.icons img {
    width: 3rem;
    padding: 0.6rem;
    filter: drop-shadow(3px 3px 3px #ccc);
}

#about::before, #projects::before {
    display: block; 
    content: " "; 
    margin-top: -14.6rem; 
    height: 14.6rem; 
    visibility: hidden; 
    pointer-events: none;
}